<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Creator Sales Dashboard" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Creator Sales Dashboard">
    <meta name="mobile-web-web-capable" content="yes">
    <meta name="color-scheme" content="light dark">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= vite_stylesheet_tag "application.css" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "inertia" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
